<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Datting app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" placeholder="User" required name="username" [(ngModel)]='model.username'>
        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password" required name="password"
          [(ngModel)]="model.password">
        <button class="btn btn-success" [disabled]="!loginForm.valid" type="submit">Sign in</button>
      </form>


      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
        <li>
          <a (click)="logout()">Logout</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome User
            <span class="carret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <i class='fa fa-user'></i>Edit Profile</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a (click)="logout()">
                <i class='fa fa-sign-out'></i>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
